.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  min-height: 80vh;
}

.leftContainer {
  width: 50%;
}

.rightContainer {
  width: 50%;
  position: relative;
}

.heroHeader {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 0em;
  max-width: 70%;
  color: #fff;
  padding: 1em 0;
}

.heroButton {
  width: auto;
  height: 40px;
  border: none;
  font-size: 16px;
  font-style: normal;
  background-color: blue;
  color: white;
  margin: 1em 0;
  width: 200px;
}

.heroDescription {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  max-width: 80%;
}

.heroimage {
  height: auto;
  width: 90%;
}

.trapezium {
  height: 330px;
  min-width: 100px;
  overflow: hidden;
}

.videoimage {
  position: absolute;
  height: 150px;
  top: 35%;
  right: 60%;
}

.dotsimage {
  position: absolute;
  height: 250px;
  width: auto;
  top: -20%;
  right: -1.5%;
  z-index: -10;
}

.dotstwoimage {
  position: absolute;
  height: 250px;
  width: auto;
  top: 44%;
  right: 68%;
  z-index: -10;
}
