.intergrationContainer {
  display: flex;
  height: 100vh;
  background-color: red;
}

.intergrationRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  background-color: blue;
}

.intergrationLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.rightFade {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 90%;
  padding: 1em;
}

.leftheader {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.leftdescription {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.leftButtonFirst {
  position: relative;
  width: 60%;
  height: 40px;
  text-align: start;
  background-color: blue;
  color: white;
  border: none;
  margin-bottom: 2em;
  padding-left: 4em;
  font-family: "Montserrat", sans-serif;
}

.leftButtonSecond {
  position: relative;
  width: 60%;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  padding-left: 4em;
}

.intergrationImg {
  position: absolute;
  height: 30px;
  width: auto;
  left: 3%;
  top: 10%;
}

.settingImg {
  position: absolute;
  height: 30px;
  width: auto;
  left: 3%;
  top: 12%;
}

.rightImg {
  width: 100%;
  height: auto;
}

.rightContainer {
  border-radius: 5%;
  width: 300px;
  height: 250px;
  overflow: hidden;
}

.itergrationImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.micImg,
.videoImg,
.contactImg {
  width: 45px;
  height: 45px;
  padding: 0.5em;
}

.dotedBottomImg {
  position: absolute;
  height: auto;
  width: 200px;
  z-index: -130;
  bottom: -83%;
  left: 15%;
}

.rightImageContainer {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 50%;
  margin: 0 1em;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.rightImageOne {
  height: auto;
  width: 80%;
}

.interOne {
  height: auto;
  width: 100%;
  border-radius: 20px;
  padding: 10px 0;
}