.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

.linkli {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0em;
  padding: 0 1em 0 1em;
}

.buttonHeader {
  background-color: blue;
  color: #fff;
  height: 20px;
  width: 129px;
  border: none;
}
