.planCards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
  width: 33.3%;
  padding-left: 1em;
  background-color: rgba(202, 202, 202, 0.4);
  padding: 1em;
  border-radius: 20px;
}

.planHeader {
  color: white;
  font-family: "Montserrat";
  font-size: 30px;
}

.descriptionC {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 0;
  color: white;
  font-family: "Montserrat";
}

.tick {
  height: 20px;
  width: auto;
  margin-right: 0.5em;
}

.wonder {
  display: flex;
  flex-direction: column;
}

.propPrice {
  color: white;
  font-family: "Montserrat";
  font-size: 30px;
  padding: 1em 0;
}

.time {
  color: white;
  font-family: "Montserrat";
}
