.planCards {
  display: flex;
  flex-direction: column;
  background-color: green;
  align-items: flex-start;
  margin: 1em;
  width: 33.3%;
  padding-left: 1em;
}

.planHeader {
  color: white;
  font-family: "Montserrat";
  font-size: 30px;
}

.descriptionC {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 0;
  color: white;
  font-family: "Montserrat";
}

.tick {
  height: 20px;
  width: auto;
  margin-right: 0.5em;
}

.propPrice {
  color: white;
  font-family: "Montserrat";
  font-size: 30px;
  padding: 1em 0;
}

.wonder {
  background-color: red;
  display: flex;
  flex-direction: column;
  position: relative;
}
